@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Introducing different types of directives Blazor WebAssembly .NET 7 - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.

<div><NavLink href="compiling-directive" Match="NavLinkMatch.All">Compiling Directive</NavLink></div>
<div><NavLink href="example-dom-interactive" Match="NavLinkMatch.All">Example DOM Intective</NavLink></div>
<div><NavLink href="blazor-and-html-event" Match="NavLinkMatch.All">Blazor &amp; HTML event</NavLink></div>
<div><NavLink href="prevent-default-example" Match="NavLinkMatch.All">Prevent Default Example</NavLink></div>
<div><NavLink href="stop-propagation-example" Match="NavLinkMatch.All">Stop Propagtion Example</NavLink></div>
<div><NavLink href="pass-html-event" Match="NavLinkMatch.All">Pass HTML Event</NavLink></div>
<div><NavLink href="pass-parameters" Match="NavLinkMatch.All">Pass Parameters</NavLink></div>
<div><NavLink href="utility" Match="NavLinkMatch.All">Utility Directive</NavLink></div>